# QimErp.Shared.Common - Staging Environment Variables

FrontendSettings__BaseUrl=https://app-staging.qimerp.com
FrontendSettings__ActivationPath=/auth/activate
FrontendSettings__ResetPasswordPath=/auth/reset-password
FrontendSettings__LoginPath=/auth/login

System__DefaultUserId=system
System__DefaultUserName=System
System__DefaultSystemEmail=system@qimerp.com
System__ConsumerSystemEmail=system@consumer
System__DefaultNextStepName=Final Review
System__DefaultRequesterName=Requester
System__DefaultApproverName=Approver
System__DefaultWorkflowCodeDisplayName=Workflow Request

RabbitMq__Exchanges__Notify=qimerp.core.notify.staging_exchange
RabbitMq__Exchanges__WorkflowApprovalRequired=qimerp.workflow.workflow_approval_required.staging_exchange
RabbitMq__Exchanges__WorkflowChanged=qimerp.workflow.workflow_changed.staging_exchange
RabbitMq__Exchanges__WorkflowStatusChanged=qimerp.workflow.workflow_status_changed.staging_exchange
RabbitMq__Exchanges__WorkflowCompleted=qimerp.workflow.workflow_completed.staging_exchange
RabbitMq__Exchanges__WorkflowApprovalRequest=qimerp.workflow.workflow_approval_request.local_exchange
